.Vue-Toastification__toast--info {
  background-color: #3b82f6;
  color: #fff;
}
.Vue-Toastification__toast--success {
  background-color: #22c55e;
  color: #fff;
}
.Vue-Toastification__toast--warning {
  background-color: #f59e0b;
  color: #fff;
}
.Vue-Toastification__toast--error {
  background-color: #ef4444;
  color: #fff;
}
